label{
  text-align: center;
}
.about-container{
  display:flex;
  align-items:center;
  justify-content:space-around;
  background-color:black;
  color:white;
  padding:40px;
}
.about-image{
  width:300px;
  border-radius:15px;
}
.about-text{
  width:50%;
  font-size:25px;
}

form{
  background-color: rgb(107, 213, 126);
  color:rgb(68, 26, 194);
  text-align:center;
  font-family: url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;700&display=swap');

.code-style {
  font-family: 'Inconsolata', monospace;
}
}
h4{
  background-color:white;
  color:red;
  text-align:center;
  font-size:medium;
}
h3{
  background-color:black;
  color:aliceblue;
  text-align:center;
}
img{
  width:300px;
  height:300px;
  padding:20px;
}
h2{
  color:rgb(255, 0, 187)
}
h1{
  color:rgb(0, 255, 21)
}

*{
    background-color:dark;
    
}
body{
    color:rgb(11, 194, 255);
    background-color:black;
    font-family:url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap');

.code-style {
  font-family: 'JetBrains Mono', monospace;
  padding:20px;
  text-align:center
}
}
header{
    background-color:rgb(91, 3, 253);
    color:rgb(255, 219, 12);
    text-align:center;
    font-family: url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap');

.code-style {
  font-family: 'JetBrains Mono', monospace;
  padding:20px;
  font-size:medium;
}
}